.toolbar {
	margin: 0 !important;
	padding: 0 24px;
	justify-content: center;
}
.toolbar-bottom {
	margin-bottom: 2vw !important;
}
#root {
	background-color: #212121;
	color: #fff;
	min-height: 100vh;
}
.editor {
	background-color: #fff !important;
}
